.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: solid black;
  width: 100%;
  min-width: 20rem;
  max-width: 30rem;
  max-height: 40rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 5rem;
  color: blue;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 2em;
}

.links {
  margin: 2rem 0;
}
